#page-header {
    background: url('media/banner/b1.jpg') center center/cover;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: white;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    color: white;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: 600;
    margin: .5px;

}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Single product */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-img {
    width: 40%;
    padding-right: 50px;
}

#prodetails .small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
}

#prodetails .single-pro-details input {
    font-size: 16px;
    width: 50px;
    height: 46px;
    padding-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background: #088178;
    color: white;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

@media (max-width:1112px) {
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-details,
    #prodetails .single-pro-img {
        width: 100%;
        padding-right: 0px;
    }

}
